:root {
    --eggshell: #f4f1deff;
    --terra-cotta: #e07a5fff;
    --independence: #3d405bff;
    --green-sheen: #81b29aff;
    --deep-champagne: #f2cc8fff;
}

body {
    font-family: "DM Mono", monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    font-weight: 100;
    margin-bottom: 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* max-width: 600px; */
    gap:10px;

}

.btn {
    font-size: 2rem;
    /* height: 6rem; */
    /* padding: 0 auto; */
    padding: 2rem 4rem;
    width: 10rem;
    transition: ease-out 150ms;
    text-align: center;

}

.btn:hover {
    opacity: 0.7;
    color: var(--green-sheen);
}

.digit:active {
    font-size: 1.8rem;
}

.operator {
    color: var(--terra-cotta);
    font-size: 1.7rem;
    align-self: center;
    justify-self: center;
    background-color: rgb(213, 221, 168);
    /* height: 3rem; */
    
}

/* .backspace svg {
    fill: var(--terra-cotta);
    size: 1.7rem;
    align-self: center;
    justify-content: center;
    padding: 0;
    height: 30px;
}  */

.operator:hover {
    background-color: var(--eggshell);
}

.operator:active {
    background-color: var(--green-sheen);
    color: white;
}

.zero {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: var(--deep-champagne);
    text-align: center;
    width: auto;
}






.multiply,
.minus,
.plus,
.equal {
    /* padding-top: ; */
}